/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

header {
  display: flex;
  background: #ffffff;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 2px solid;
  border-color: rgb(109, 109, 109);

  &.container-0 {
    height: 50px;

    img {
      transform: scale(0.2);
    }
  }

  h2 {
    font-family: "Roboto Condensed", sans-serif;
    color: #e4a553;
    text-decoration: none;
  }

  a {
    font-family: "Roboto Condensed", sans-serif;
    color: #000000;
    text-decoration: none;
  }

  .texto-header {
    font-family: "Roboto Condensed", sans-serif;
    color: #ffffff;
    text-shadow: 4px 3px #000000;
    font-size: 1.3em;
  }

  .titulo {
    font-family: "Roboto Condensed", sans-serif;
    text-shadow: 5px 5px #590061;
    font-size: 2.1rem;
  }

}

footer {
  color: rgb(255, 255, 255);

  p {
    font-family: "Roboto Condensed", sans-serif;
    color: large;
    text-align: center;
  }
}

.container div {
  img {
    transform: scale(0.85);

    &.ancho-img {
      transform: scale(1.1);
    }
  }
}

.bordes {
  border-style: solid;
  border-color: red;
}

.tienda-tamaño {
  width: 15%;
}

.cards-steam {
  background:
    radial-gradient(circle at top right, rgba(102, 192, 244, .15), transparent 35%),
    linear-gradient(135deg, #171a21 0%, #091a46 50%, #003a5f 100%);
  border-radius: 5em 0em;
  margin: 1%;

  img {
    padding: -5%;
  }
}

.cards-psn {
  background:
    radial-gradient(circle at top right, rgba(102, 192, 244, .15), transparent 35%),
    linear-gradient(135deg, #171a21 0%, #091a46 50%, #003a5f 100%);
  border-radius: 5em 0em;
  margin: 1%;

  img {
    padding: -5%;
  }
}

.cards-epic {
  background:
    radial-gradient(circle at top right, rgba(102, 192, 244, .15), transparent 35%),
    linear-gradient(135deg, #171a21 0%, #091a46 50%, #003a5f 100%);
  border-radius: 5em 0em;
  margin: 1%;

  img {
    padding: -5%;
  }
}

.cards-xbox {
  background:
    radial-gradient(circle at top right, rgba(102, 192, 244, .15), transparent 35%),
    linear-gradient(135deg, #171a21 0%, #091a46 50%, #003a5f 100%);
  border-radius: 5em 0em;
  margin: 1%;

  img {
    padding: -5%;
  }
}

.carrito-scroll {
  max-height: 180px;
  overflow-y: auto;
}

/* OPCIONAL: Estilizado de la barra de scroll para que combine con el modo oscuro */
.carrito-scroll::-webkit-scrollbar {
  width: 6px;
}

.carrito-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.carrito-scroll::-webkit-scrollbar-thumb {
  background-color: #0dcaf0;
  /* El color cyan de info de Bootstrap */
  border-radius: 4px;
}

.fondo-sutil {
  /* Indicamos que el verde termine temprano (al 30%) y el resto sea blanco */
  background:
    radial-gradient(circle at top right, rgba(102, 192, 244, .15), transparent 35%),
    linear-gradient(135deg, #7abe96 0%, #2cec35 50%, #0aff3f 100%);
  width: 33%;
  height: 74%;
}

.fondo-checkout {
  background:
    radial-gradient(circle at top right, rgba(102, 192, 244, .15), transparent 35%),
    linear-gradient(135deg, #171a21 0%, #2958d1 50%, #0d537e 100%);
}